body {
    background-image: url(fon.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    background: rgb(1, 255, 179);
    margin: 60px auto;
    width: 900px;
    height: 1250px;
}

.header {
    background-size: cover;
    background: #838283;
    height: 195px;
    width: 100%;
    background-image: url(header.png);
    font-size: 15px;
    background-repeat: no-repeat;
    margin-block: -25px;
    text-align: center;
}

.navigation {
    background: #ff00002a;
    width: 100%;
    height: 30px;
    background-image: url();
    background-size: 379px 19px;
    word-spacing: 100px;
    letter-spacing: 3px;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
}

.content {
    background: #f5dbdb;
    margin-block: -25px;
    width: 100%;
}

.text {
    border: 4px double black;
    padding: 40px;
    margin: 20px;
}

.p1 {
    text-align: center;
}

.z1 {
    text-align: center;
    font-size: 35px;
}

.t1 {
    text-align: justify;
    font-size: 18px;
}