body{
	background-image: url();
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

#wrapper{
	background: rgb(1, 255, 179);
	margin: 60px auto;
	width: 900px;
	height: 1250px;
}

	#header{
		background-size: cover;
		background: #838283;
		height: 200px;
		width: 900px;
		background-image: url();
		
		background-repeat: no-repeat;
		margin-block: -25px;

	}

	#navigation{
		background: #ff00002a;
		width: 900px;
		height: 30px;
		background-image: url();
		background-size: 379px 19px;
		word-spacing: 100px;
		letter-spacing: 3px;
		font-size: 25px;
		text-decoration: none;
			
	}
	#content{
		background: #000000;
		margin-block: -20px;
		width: 900px;
		height: 4450px;
			
	}
	.footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: rgb(21, 255, 0);
		width: 900px;
		height: 280px;
		}
		