body{
	background-image: url(fon.png);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

#wrapper{
	background: rgb(210, 208, 210);
	margin: 60px auto;
	max-width: 900px;
	height: 1250px;
}

	#header{
		background-size: cover;
		background: #838283;
		height: 200px;
		max-width: 900px;
		background-image: url(head.png);
		
		background-repeat: no-repeat;
		margin-block: -25px;

	}

	#navigation{
		background: #2a2a2a2a;
		max-width: 900px;
		height: 30px;
		background-image: url();
		background-size: 379px 19px;
		word-spacing: 100px;
		letter-spacing: 3px;
		font-size: 25px;
		text-decoration: none;
			
	}
	#content{
		background: #d2d0d2;
		margin-block: -20px;
		max-width: 900px;
		
			
	}
		.text	{
			border: 4px double black;
			padding: 6px;
			margin: 20px;
		}
			.i1	{
				text-align: center;
				max-width:100%;
			}
				.png{
					width:100%;
					text-align: center;
				}
			.pt	{
				text-align: center;
				font-size: 35px;
			}
			.tt {
				text-align: center;
				font-size: 18px;
			}
			
		
			
	.footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: rgb(102, 102, 102);
		max-width: 900px;
		height: 280px;
		}
		.text	{
			font-size: 30px;
		}
		.end {
			display: flex;
			align-items: center;
			background-color: rgb(102, 102, 102);
			margin: 0;
			font-size: 12px;
			list-style-type: none;
			padding: 0;	
			text-align: center;
		}
			
		.end-list:not(:last-child) {
			margin-right: 300px;
			text-align: center;
		}
	
	@media (min-width: 375px){
		#navigation{
			word-spacing: 2px;
			letter-spacing: 1px;
			font-size: 22px;
		}
		.text	{
			border: 4px double black;
			padding: 6px;
			margin: 20px;
		}
			.i1	{
				text-align: center;
				max-width: 320px
			}
			.pt	{
				text-align: center;
				font-size: 40px;
			}
			.tt {
				text-align: center;
				font-size: 17px;
			}
			
		#content{
			width: 100%
			height: : auto;
			
		}

	}
	
